@using MVCProject.BLL
@model ViewBillsViewModel

@{
    ViewBag.Title = "ViewBills";
}

<h2>View Bills</h2>

@Html.HiddenFor(model => model.CustomerID)

@using (Html.BeginForm()) {

    <div class="row filters">
        <div class="form-group col-md-6">
            @Html.Label("Sort by")
            @Html.DropDownListFor(
                model => model.Sort,
                selectList: Utils.GetBillSortMethods(),
                htmlAttributes: new { @class = "form-control" }
            )
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Sort direction", new { @class = "css-label", @for = "AscendingSort" })
            @Html.DropDownListFor(
                model => model.AscendingSort,
                selectList: Utils.GetSortDirections(),
                htmlAttributes: new { @class = "form-control" }
            )
        </div>
    </div>

}

@Html.Table(
    data: Model.Bills,
    propertiesToSkip: new[] { "ID", "FullTime" },
    rowIDProperty: "ID",
    divClass: "bills",
    tableClass: "table table-hover",
    trClickRoute: null,
    pagerRoute: new RouteInfo<int> {
        ControllerName = "AdventureWorks",
        ActionName = "ViewBills",
        RouteValues = page => new { customerID = @Model.CustomerID, page }
    },
    headers: new[] { "Date Issued", "Number", "Commercialist's name", "Credit Card Type",
"Credit Card Number", "Credit Card Expiration Date" }
)

@section scripts{
    <script>
        $(function () {
            bindTrClick();

            $("#Sort, #AscendingSort").change(function (e) {
                $("form").submit();
            });
        });

        function bindTrClick() {
            $("tr").click(function (e) {
                $.post(
                    "@Url.Action(
                        actionName: "CheckItems",
                        controllerName: "AdventureWorks"
                    )",
                    {
                        customerID: @Model.CustomerID,
                        billID: $(this).attr("id")
                    },
                    function (data) {
                        console.log(data);
                        if (data.Error)
                            showModal(data.Title, data.Body, "OK");
                        else
                            location.href = data.RedirectUrl
                    }
                );
            });
        }
    </script>
}