@using MVCProject.BLL
@model ViewBillsViewModel

@{
    ViewBag.Title = "ViewBills";
}

<h2>View Bills</h2>



@using (Html.BeginForm()) {

    <div class="row filters">
        <div class="form-group col-md-6">
            @Html.Label("Sort by")
            @Html.DropDownListFor(
                model => model.Sort,
                selectList: Utils.GetBillSortMethods(),
                htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" }
            )
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Sort direction", new { @class = "css-label", @for = "AscendingSort" })
            @Html.DropDownListFor(
                model => model.AscendingSort,
                selectList: Utils.GetSortDirections(),
                htmlAttributes: new { @class = "form-control", onchange = "this.form.submit();" }
            )
        </div>
    </div>

    @Html.Table(
                data: Model.GetBills(),
                propertiesToSkip: new[] { "ID", "FullTime" },
                divClass: "bills",
                tableClass: "table table-hover",
                trClickRoute: new RouteInfo<Bill> {
                    ActionName = "ViewItems",
                    ControllerName = "AdventureWorks",
                    RouteValues = item => new { billID = item.ID }
                },
                headers: new[] { "Date Issued", "Number", "Commercialist's name", "Credit Card Type",
"Credit Card Number", "Credit Card Expiration Date" }
            )

}